.home {
  background-color: var(--white);
  background-image: url(../../assets/background1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  height: 100vh;
}
.home_title {
  color: var(--white);

  font-weight: 700;

  padding: 5px 5px;
}
.huge_x {
  font-size: 40rem;
  position: absolute;
  top: 0;
}
.x2 {
  position: absolute;
  top: 0;
  right: 45px;
}
.coming {
  
  left: 50px;

  font-size: 5rem;
  color: var(--red);
  font-weight: 700;
}
.soon {
  left: 50px;

  font-size: 8rem;
  color: var(--white);
  font-weight: 700;
}
